.start-recipe-btn {

  /* border: 2px red solid;
  border-radius: 0.313rem;
  bottom: 0;
  display: flex;
  flex-direction: column;
  height: 2.5rem;
  margin-top: 1rem;
  position: fixed;
  width: 18rem;
} */
}
